{% extends '/layout/base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}

    <h1 class="text-center">Bienvenue sur Sortir.com</h1>

   <p class="text-center"><img width="500" height="500" src="{{ asset('assets/img/accueil.png') }}"></p>

{% endblock %}
