{% extends '/layout/base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $(document).ready(function(){

            $("#lieu_form_ville").change(function(){

               var id = $(this).val();
                $.get("/sortie/lieu/"+id, function (data, status) {
                    var infosVilleLieu=JSON.parse(data);

                    let html = "<option>choisir un lieu</option>";
                    for (let i = 0;i<infosVilleLieu.length;i++){
                        //console.log(infos[i]);
                        html+='<option value="'+infosVilleLieu[i].id+'" >'+infosVilleLieu[i].nom+'</option>';
                    }
                    $("#sortie_form_lieu").html(html).change(function(){

                        var id = $(this).val();
                        $.get("/sortie/infosLieu/"+id, function(data, status){

                            var infosLieu=JSON.parse(data);
                            //console.log(infosLieu);
                            $("#lieu_form_rue").val(infosLieu.rue);
                            $("#lieu_form_lat").val(infosLieu.lat);
                            $("#lieu_form_long").val(infosLieu.long);
                        });



                    });
                    $.get("/sortie/lieu/cp/"+id, function(data, status) {

                        var infosVilleCP = JSON.parse(data);

                        //console.log(infosVilleCP);
                        $("#ville_cp").val(infosVilleCP.codePostal);

                    });
                })


            })
             /*  var id = $(this).val();
               $.get("/sortie/ville/"+id, function(data, status){
                   var infVille=JSON.parse(data);
                       $("#ville_form").val(infVille.ville)

               });*/


        });
    </script>
{% endblock %}

{% block body %}
    <h1>sortie</h1>
    {{ form(sortieForm) }}

   {{ form(lieuForm) }}
{#  <label>Lieu</label>
    <select name="lieu">

        {% for lieu in lieuTab %}
        <option>{{ lieu.nomLieu }} </option>
        {% endfor %}

    </select>#}
    <label>Code Postal</label>
    <input type="text" readonly value="" id="ville_cp"/>
    <label>lieu</label>
    <select  id="sortie_form_lieu" >
    </select>
    <label>Rue</label>
    <input type="text" readonly value="" id="lieu_form_rue"/>
    <label>Latitude</label>
    <input type="text" readonly value="" id="lieu_form_lat"/>
    <label>Longitude</label>
    <input type="text" readonly value="" id="lieu_form_long"/>


{% endblock %}
